@model Tracker.Models.ManageIndexViewModel
@{
    ViewBag.Title = "Zarządzaj";
}

<div class="panel-group">
    <div class="panel">
        @*
            <p class="text-success">@ViewBag.StatusMessage</p>
        *@
        <h2>@ViewBag.Title.</h2>

        <div class="manage-tiles">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Moje trasy", "Tracks", "Track", new { User = Model.User }, new { @class = "manage-tile" })
                }

                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword", null, new { @class = "manage-tile" })
                }
                else
                {
                    @Html.ActionLink("Utwórz", "SetPassword", null, new { @class = "manage-tile" })
                }
        </div>
    </div>
</div>
