@model Tracker.Models.ManageIndexViewModel
@{
    ViewBag.Title = "Zarządzaj kontem";
}

<div class="panel-group">
    <div class="panel">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="success-message">
                <p>@ViewBag.StatusMessage</p>
                <div class="close-button"></div>
            </div>
        }
        <h2>@ViewBag.Title</h2>

        <div class="manage-tiles">
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Moje trasy", "Tracks", "Track", new { User = Model.User }, new { @class = "manage-tile" })
                }

                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Konfiguracja", "ManageConfig", "Manage", null, new { @class = "manage-tile" })
                }

                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Zmień hasło", "ChangePassword", null, new { @class = "manage-tile" })
                }
                else
                {
                    @Html.ActionLink("Utwórz", "SetPassword", null, new { @class = "manage-tile" })
                }
        </div>
    </div>
</div>
