@model IEnumerable<Tracker.Models.ApplicationUser>
@{
    ViewBag.Title = "Tabela użytkowników";
}

<div class="panel-group">
    <div class="panel">
        <h2>Users</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.UserName)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            @foreach (var user in Model)
            {
                <tr>
                    <td>
                        @user.Id
                    </td>

                    <td>
                        @user.Email
                    </td>

                    <td>
                        @user.UserName
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = user.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div> 