@model Tracker.Models.IndexViewModel
@{
    ViewBag.Title = "Strona główna";
}

<div class="panel-group">
    <div class="panel">
        @if (ViewBag.StatusMessage != null)
        {
            <div class="success-message">
                <p>@ViewBag.StatusMessage</p>
                <div class="close-button"></div>
            </div>
        }

        <div class="app-stats">
            <div class="app-stat">
                <p>@Model.UsersTotal</p>
                Użytkowników
            </div>
            <div class="app-stat">
                <p>@Model.TracksTotal</p>
                Tras
            </div>
            <div class="app-stat">
                <p>@Model.TrackPointsTotal</p>
                Punktów tras
            </div>
        </div>
    </div>
</div> 

<div class="panel-group">
    <div class="panel">
        <h2>Twoje najnowsze trasy</h2>
        @if (Model.NumberOfTracks == 0)
        {
            <div class="no-tracks-available-info">
                <p>Nie przesłano w tym miesiącu żadnej trasy</p>
            </div>
        }

        <div class="track-cards">
            @foreach (var track in Model.Tracks)
            {
                <div class="track-card">
                    @Html.ActionLink(@track.Name, "Details", "Track", new { id = track.Id }, null)
                    <div class="track-card-row">
                        <p><span>Data dodania:</span> @track.UploadDate</p>
                    </div>
                    <div class="track-card-row">
                        <p><span>Start:</span> @track.StartLocation</p>
                        <p><span>Koniec:</span> @track.EndLocation</p>
                    </div>
                    <div class="track-card-row">
                        <p><span>Dystans:</span> @Math.Round(track.Distance, 2) km</p>
                    </div>
                </div>

            }
        </div>

        <div class="pagination">
            @for (int i = 0; i < Math.Ceiling((double)((double)Model.NumberOfTracks / (double)Model.NumberOfTracksPerPage)); i++)
            {
                if (i == Model.CurrentPage - 1)
                {
                    @Html.ActionLink((i + 1).ToString() + " ", "Index", new { startingIndex = i * 10, searchModel = Model }, new { @class = "active-page" })
                }
                else
                {
                    @Html.ActionLink((i + 1).ToString() + " ", "Index", new { startingIndex = i * 10, searchModel = Model }, null)
                }
            }
        </div>
    </div>
</div> 