@model Tracker.Models.IndexViewModel
@{
    ViewBag.Title = "Strona główna";
}

<div class="panel-group">
    <div class="panel">
        <h2>Statystyki portalu</h2>
        @if (ViewBag.StatusMessage != null)
        {
            <div class="success-message">
                <p>@ViewBag.StatusMessage</p>
                <div class="close-button"></div>
            </div>
        }

        <div class="app-stats">
            <div class="app-stat">
                <p>Użytkowników</p>
                <p class="stat">@Model.UsersTotal</p>
            </div>
            <div class="app-stat">
                <p>Tras</p>
                <p class="stat">@Model.TracksTotal</p>
            </div>
            <div class="app-stat">
                <p>Punktów tras</p>
                <p class="stat">@Model.TrackPointsTotal</p>
            </div>
        </div>
    </div>
</div> 

<div class="panel-group">
    <div class="user-stats">
        <h2>Twoje statystyki</h2>
        <img src="~/Content/profile.png" class="profile-picture" />
        <p>Przesłanych tras:</p>
        <p class="user-stat">@Model.UserTracksTotal</p>
        <p>Przebiegnięty dystans:</p>
        <p class="user-stat">@Math.Round(@Model.UserDistanceTotal) km</p>
        <input type="button" value="Konfiguracja przeszukiwania" class="set-config button-info" onclick="location.href='@Url.Action("ManageConfig", "Manage")'" />
    </div>
    <div class="user-activity">
        <h2>Twoje najnowsze trasy</h2>
        @if (Model.PaginationViewModel.NumberOfTracks == 0)
        {
            <div class="no-tracks-available-info">
                <p>Nie przesłano w tym miesiącu żadnej trasy</p>
            </div>
        }

        <div class="track-cards">
            @foreach (var track in Model.Tracks)
            {
                <div class="track-card">
                    @Html.ActionLink(@track.Name, "Details", "Track", new { id = track.Id }, null)
                    <div class="track-card-row">
                        <p><span>Data dodania:</span> @track.UploadDate</p>
                    </div>
                    <div class="track-card-row">
                        <p><span>Start:</span> @track.StartLocation</p>
                        <p><span>Koniec:</span> @track.EndLocation</p>
                    </div>
                    <div class="track-card-row">
                        <p><span>Dystans:</span> @Math.Round(track.Distance, 2) km</p>
                    </div>
                </div>

            }
        </div>

        @Html.Partial("_PaginationPartial", Model.PaginationViewModel)
    </div>
</div> 