@model IEnumerable<Tracker.Models.Track>

@{
    ViewBag.Title = "Tracks";
}

@{
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Od najstarszej",
        Value = "Exemplo1"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Od najnowszej",
        Value = "Exemplo2",
        Selected = true
    });
}

<div class="panel-group">
    <div class="panel">
        <h2>Tracks</h2>

        @using (Html.BeginForm("Sort", "Track"))
        {
            <div class="form-group-row">
                @Html.DropDownList("Sort", listItems, new { @class = "dropdown" })
                <input type="submit" value="Sortuj" class="button-default" />
            </div>
        }

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.User)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MinLatitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MaxLatitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MinLongitude)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.MaxLongitude)
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>

            @foreach (var track in Model)
            {
                <tr>
                    <td>
                        @track.Id
                    </td>

                    <td>
                        @Html.ActionLink(@track.Name, "Details", new { id = track.Id }, null)
                    </td>

                    <td>
                        @track.User.Email
                    </td>

                    <td>
                        @track.MinLatitude
                    </td>

                    <td>
                        @track.MaxLatitude
                    </td>

                    <td>
                        @track.MinLongitude
                    </td>

                    <td>
                        @track.MaxLongitude
                    </td>

                    <td>
                        @Html.ActionLink("Delete", "Delete", new { id = track.Id }, null)
                    </td>
                </tr>
            }
        </table>
    </div>
</div> 



